<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<context:property-placeholder
		location="classpath:com/mindtree/dao/jdbc.properties" />
	
	<!-- configure DataSource with properties read from jdbc.properties file -->
	<bean id="basicDataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
	</bean>

	<!-- Inject DataSource to AccountDaoJdbcImpl -->
	<bean id="accountDao" class="com.mindtree.dao.AccountDaoJdbcImpl">
		<property name="dataSource"  ref="basicDataSource"/>
	</bean>
</beans>
